<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">
		<main class="container mx-auto px-6 py-12">
			<slot />
		</main>
    <footer class="bg-white dark:bg-gray-800 mt-12 py-6">
      <div class="container mx-auto px-6 text-center text-gray-600 dark:text-gray-400">
        <p>&copy; 2024 Swastik Handicrafts. All rights reserved.</p>
      </div>
    </footer>
	</body>
</html>
